<div class="main">
	<img class="main__image" src="../../assets/badge.svg" alt="">

	<h1 class="main__title">NGRX</h1>

	<p class="main__text">Reactive State for Angular</p>
</div>

<div class="block">
	<mat-card>
		<mat-card-title>Project structure</mat-card-title>

		<img mat-card-image src="../../assets/components.png" alt="">

		<mat-list class="block__list">
			<mat-divider></mat-divider>
			<mat-list-item class="block__list-item">Единственно точный источник данных и его удобное использование в компонентах</mat-list-item>
			<mat-divider></mat-divider>
			<mat-list-item class="block__list-item">Изменение состояния только посредством чистых функций — reducers</mat-list-item>
			<mat-divider></mat-divider>
			<mat-list-item class="block__list-item">Инициализация изменений может осуществляться посредством отправки действий (actions) — описывающих тип изменений и содержащих полезную нагрузку (payload).</mat-list-item>
			<mat-divider></mat-divider>
			<mat-list-item class="block__list-item">Изоляцию side-effect-ов.</mat-list-item>
			<mat-divider></mat-divider>
			<mat-list-item class="block__list-item">Мощный time-travelling дебаггер</mat-list-item>
		</mat-list>

		<mat-card-title>Redux pattern works</mat-card-title>
		<img class="block__image" mat-card-image src="../../assets/redux_pattern.png" alt="">

		<img class="block__image" mat-card-image src="../../assets/effects-flow-diagram.jpeg" alt="">
	</mat-card>
</div>
