<div class="main">
	<img class="main__image" src="../../assets/badge.svg" alt="">

	<h1 class="main__title">NGRX</h1>

	<p class="main__text">Reactive State for Angular</p>
</div>

<div class="block">
	<mat-card>
		<mat-card-title>Project structure</mat-card-title>

		<img mat-card-image src="../../assets/simple-structure.png" alt="">

		<img mat-card-image src="../../assets/components.png" alt="">

		<mat-card-title>Можна виділити 3 основні проблеми!</mat-card-title>

		<mat-list class="block__list">
			<mat-divider></mat-divider>
			<mat-list-item class="block__list-item">Стан наших компонент не має бути хаотичним, ми маємо бачити залежності явно.</mat-list-item>
			<mat-divider></mat-divider>
			<mat-list-item class="block__list-item">Джерело зміни стану має бути відомим. Якщо стан був змінений ми повинні знати хто був ініціатором змін.</mat-list-item>
			<mat-divider></mat-divider>
			<mat-list-item class="block__list-item">Зміна стану не має відбуватись в усіх місцях додатку. Бажано відділити цю частину для кращого розуміння архітектури додатку.</mat-list-item>
			<mat-divider></mat-divider>
		</mat-list>

		<mat-card-title>NGRX</mat-card-title>
		<mat-card-title>Данний пакет модулів імплементує redux-pattern і дає можливість скористатись деякими прийомами, які допомагають зробити додаток більш гнучким і маштабованим!</mat-card-title>

		<mat-list class="block__list">
			<mat-divider></mat-divider>
			<mat-list-item class="block__list-item">Єдине точне джерело данних і його зручне використання</mat-list-item>
			<mat-divider></mat-divider>
			<mat-list-item class="block__list-item">Зміну стану тільки за допомого чистих функцій — reducers</mat-list-item>
			<mat-divider></mat-divider>
			<mat-list-item class="block__list-item">Ініціалізація змін може здійснюватись лише за допомогою відправки дій (actions) — яка описує тип змін і містить корисну нагрузку (payload).</mat-list-item>
			<mat-divider></mat-divider>
			<mat-list-item class="block__list-item">Ізоляція side-effect-ів.</mat-list-item>
			<mat-divider></mat-divider>
			<mat-list-item class="block__list-item">Потужний time-travelling дебагер</mat-list-item>
		</mat-list>

		<mat-card-title>Redux pattern works</mat-card-title>
		<img class="block__image" mat-card-image src="../../assets/redux_pattern.png" alt="">

		<img class="block__image" mat-card-image src="../../assets/effects-flow-diagram.jpeg" alt="">
	</mat-card>
</div>
