.header__logo {
	color: white;
	text-decoration: none;
}

.main {
	margin: 0 auto;
	padding: 50px 15px;
	max-width: 991px;
	min-height: calc(100vh - 64px);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.header__logo {
	margin-right: 15px;
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
}

.header__nav {
	margin-left: auto;
}

.header__nav-list {
	list-style: none;
}

.list {
	display: flex;
	align-items: center;
}

.list__item:not(:first-child) {
	margin-left: 20px;
}

.list__link {
	font-size: 14px;
	color: #fff;
	text-decoration: none;
}
